/*CSS styling for quiz and go back buttons on art and culture page*/
.quiz-button,
.go-back-button {
  background-color: #542424;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.quiz-button:hover,
.go-back-button:hover {
  background-color: #3b000e;
  transform: scale(1.03);
}
