/*CSS styling for header*/
header {
  margin: 0;
  padding: 0;

}

header h1 {
  text-align: center;
  padding: 1rem 0;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  color: #3b000e;
  margin: 0;
}
nav {
  margin-bottom: 30px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #542424;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #3b000e;
  color: #f4f4f4;
}