body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer {
  background-color: #542424;
  color: #ffffff;
  text-align: center;
  padding: 4px;
  font-size: 14px;
  margin-top: 20px;
}
